<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844415759840-esk2im20fgtheoo71i3seh7n1pmrh6mj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844415759840-esk2im20fgtheoo71i3seh7n1pmrh6mj</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ-VwHVJ8wIFiisqZdcJ4Y1R5wlCOyRqU</string>
	<key>GCM_SENDER_ID</key>
	<string>844415759840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pillowsoftworks.pillowjournal</string>
	<key>PROJECT_ID</key>
	<string>pillowjournal-7fc9b</string>
	<key>STORAGE_BUCKET</key>
	<string>pillowjournal-7fc9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844415759840:ios:442b8504b9825c9a456785</string>
</dict>
</plist>